<div id="events">
</div>

<div id="add-event">
    <div><input type="text" id="event-name" value="Event Name" /></div>
    <div><input type="text" id="ticket-limit" value="Ticket Limit" /></div>
    <div><button id="add-button">Add Event</button></div>
</div>