<div id="textboxes">
    <div class="ui-widget">
        <label for="name">Name <span>*</span>: </label>
        <input id="name" />
    </div>
    <div class="ui-widget">
        <label for="email">Email <span>*</span>: </label>
        <input id="email" />
    </div>
    <div class="ui-widget">
        <label for="studentid">Student ID: </label>
        <input id="studentid" />
    </div>
    <div class="ui-widget">
        <label for="forum">Forum Account: </label>
        <input id="forum" />
    </div>
    
    <select id="products">
    </select>
    <button id="add-product">Add</button>
</div>
<div id="selected-products">
    No products added
</div>
<textarea id="comments">Comments</textarea>
<div id="total">
    Order Total: <span></span>
</div>
<button id="issue-receipt">Submit</button>